<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="nav">
      <a href="/"><img class="logo" src="/assets/Umologo.png" alt="" /></a>

      <div class="">
        <a class="share-button button" href="/new">Share</a>
        <a class="share-button button" href="/browse">Browse</a>
        <a class="button" href="">♥</a>
      </div>

      <div class="account-buttons">
        <a class="login-button button" href="/login">Login</a>
        <a class="signup-button button" href="/signup">Sign Up</a>
      </div>
    </nav>
    <%- body%>
  </body>
</html>
